*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
}

body header{
    color: #0b810b;
    margin: 10px 0;
 
}
body header h1{
    letter-spacing: 1px;
}
body header p{
    letter-spacing: 2px;
    word-spacing: 10px;
}

.box-section .aside1 ul li a{
    color: #0b810b;
}
.box-section .aside1 ul li{
    color: #0b810b;
    margin-bottom: 5px;
    margin: 10px 0;
}

.box-section section h2{
    color: #0b810b;
    margin: 20px 0;
    word-spacing: 5px;
    letter-spacing: 1px;
}
section div article{
    color: #0b810b;
    margin: 20px 0;
}
.box-section section ul{
    list-style: none;
}
section ul li a{
    color: white;
}
.box-section section ul li{
    display: inline;
}
.box-section .aside2{
    color: white;
    margin: 20px 0;
    font-size: 10px;
}
.aside2 h3{
    text-transform: capitalize;
}
footer{
    color: white;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
}